## NPM FOLDERS

/node_modules

## TypeScript Files

/dist

## CONFIDENCIAL files

src/Archive
src/Client/Plugins/nodes.js
src/Config/player.js
src/Config/system.js
src/Config/config.js
src/API/keys.js
yarn-error.log
.env

## CONTAINER FILES

src/Containers/Premium/Config/config.js