## NPM FOLDERS

/node_modules

## OPENODE FILES

.openode
Dockerfile

## DATABASE FILES

data/base.json

## CONFIDENCIAL files

src/Client/Plugins/nodes.js
src/Config/player.js
src/Config/system.js
src/Config/config.js
src/API/keys.js
yarn-error.log

## CONTAINER FILES

src/Containers/Premium/Config/config.js