## NPM FOLDERS

/node_modules

## OPENODE FILES

.openode
Dockerfile

## CONFIDENCIAL files

src/Client/plugins/nodes.js
src/Config/player.js
src/Config/system.js
src/Config/config.js
data/base.json
data/giveaways.json
yarn-error.log

## CONFIDENCIAL container files

src/Containers/support/config.js
